@import '../../style/mixins.scss';

$input-width: 400px;
$submit-width: 340px;

#search-form {
    @include mx-home-common();

    .form-step-container {
        margin-top: 15vh;
    }


    .job-form-step {
        @include mx-list-selected();
        li {
            background-color: white;
            margin-bottom: 5px;
        }

        .return {
            background: none;
            color: white;
            border: none;
            margin-top: 40px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        @media (max-width: $min-width-mobile) {
            ul { padding: 0 10px; }
            li .icon { margin-left: 5px; }
        }
    }

    .job-form-step, #location-form-step {
        margin: auto;
        max-width: 850px;

        // Avoid superposition with fixed footer
        margin-bottom: 135px;

        text-align: center;
        color: white;

        h2 {
            font-size: 2em;
            letter-spacing: 1px;
            margin-bottom: 30px;
            @media (max-width: $min-width-mobile) { font-size: 1.5em; }
        }

        input[type=text] {
            margin-bottom: 10px;
            width: $input-width;
            max-width: 100%;
            text-align: center;
        }

        /* Suggestions list */
        ul.suggestions {
            background-color: white;
            border-radius: 10px;
            overflow: hidden;

            li {
                text-transform: capitalize;
                border-bottom: solid 1px darkgray;

                padding: 15px 10px;
                color: #333;

                &:last-child { border-bottom: none; }

                &:hover {
                    background-color: lightgrey;
                    cursor: pointer;
                }
            }
        }

        .loader {
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
        }

        .location-container {
            text-align: center;
            margin-bottom: 25px;

            .marker-cyan { margin-right: 6px; }

            button {
                width: $input-width;
                max-width: 100%;
                padding: 8px 50px;
                @media (max-width: $min-width-mobile) { padding: 8px 20px; }
            }
        }

        .or { margin-bottom: 25px; }

        .submit-container {
            text-align: center;
            margin-top: 30px;

            button {
                width: $submit-width;
                max-width: 100%;
            }
        }
    }

    @include no-job();

}