@import '../../../style/mixins.scss';

// Popup on the first search
#notification-modal {
    .modal-content-bg {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
    }

    .modal-content {
        position: relative;
        top: 30%;
        width: 80%;
        padding: 2px;
        margin: 0 auto 50px auto;
        overflow: hidden;
        border-radius: 5px;

        background: $gradient-background;

        button {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .text {
            background-color: white;
            border-radius: 5px;
            padding: 40px 20px;
            z-index: 2;

            font-size: 1.25em;
            color: $blue;
            text-align: center;
        }
    }
}