// BREAKPOINT
$min-width-small-mobile: 350px;
$min-width-mobile: 768px;
$min-width-tablet: 992px;
$min-width-desktop: 1200px;

// COLORS
$pink: #F60CB9;
$blue: #066EE7;
$darkblue: #0562CE;
$white: #FFF;
$blue-hover: #0562CE;
$fse-blue: #004fa2;
$gray: #B7B5C6;
$disabled-gray: #eee;
$violet: #351D4E;
$gray-font: #333;
$lightgray: #DBDBDB;
$startups-gray: #F8F8F8;
$contact-mode: #F0F0F0;

// FONT
$font: 'Signika', sans-serif;

// BACKGROUND
$gradient-background: linear-gradient(to top right, cyan, blue , purple, magenta);

// MAP/LIST SPACE REPARTITION
$flex-left: 10; // MAP
$flex-right: 5; // LIST

// Box-shadow
$box-shadow: 1px 5px 2px -2px #666;