// BREAKPOINT
$min-width-small-mobile: 350px;
$min-width-mobile: 768px;
$min-width-tablet: 992px;
$min-width-desktop: 1200px;

// COLORS
$pink: #F60CB9;
$blue: #066EE7;
$gray: #B7B5C6;
$gray-font: #333;
$lightgray: #DBDBDB;
$contact-mode: #F0F0F0;

// FONT
$font: 'Signika', sans-serif;

// BACKGROUND
$gradient-background: linear-gradient(to top right, cyan, blue , purple, magenta);

// MAP/LIST SPACE REPARTITION
$flex-left: 10;
$flex-right: 5;