@import '../style/mixins.scss';

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-family: $font; }
html, body, #root, #app {
    height: 100vh;
    width: 100%;
    margin: 0;
    color: $gray-font;
}

// Generic classes
.sr-only { position: absolute !important; left: -10000px !important; top: -10000px !important; }
ul.list-unstyled {
    margin: 0; padding: 0; list-style: none;
    &.inline-list li {
        display: inline-block;
        margin-right: 15px;
    }
}
.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
ul.list-inline li { display: inline-block; }
ul.list-no-margin-padding { margin: 0; padding: 0; }
.text-center { text-align: center; }
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.block { display: block; }
.no-break-word { white-space: nowrap; }
.bold { font-weight: bold !important; }
.max-size-1000 { max-width: 1000px; margin: auto; }
.max-size-1200 { max-width: 1200px; margin: auto; }
.img-responsive { max-width: 100%;}

// responsive classes
.hide-desktop { @media (min-width: $min-width-desktop) { display: none; } }
.hide-tablet { @media (min-width: $min-width-tablet) and (max-width: $min-width-desktop) { display: none; } }
.hide-mobile { @media (min-width: $min-width-small-mobile) and (max-width: $min-width-tablet) { display: none; } }
.hide-small-mobile { @media (max-width: $min-width-small-mobile) { display: none; } }

/* Shared style */
p { margin: 0; }
main { padding: 0; }
button {
    font-family: $font;
    &:hover { cursor: pointer; }
}

button.close {
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;

    position: absolute;
    right: 10px;
    top: 6px;

    &:hover { cursor: pointer; }
}
ul.two-columns { columns: 2; }
ul.three-columns { columns: 3; }

// Loading animation
.loading-dotted {
    color: black;
    &:after {
        display: inline-block;
        animation: dotty steps(1,end) 1s infinite;
        content: '';
    }
}

@-webkit-keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}
@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}


// Heartbeat/Favorite animation
.heartbeat-animation {
    @include heartbeat();
    animation: heartbeat 0.75s;
    -webkit-animation: heartbeat 0.75s;
}

// Badge
.badge {
    font-size: 14px;
    border-radius: 50%;
    background-color: $pink;
    color: white;
    padding: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
    margin-right: 11px;
}

/* Forms */
    /* Button */
    .button {
        background-color: $blue;
        color: white;
        border-radius: 20px;
        padding: 8px 60px;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        border: none;

        &:hover {
            background-color: $blue-hover;
            cursor: pointer;
        }

        @media (max-width: $min-width-mobile) {
            padding: 8px 30px;
            font-size: 1.25em;
            font-weight: normal;
        }

        @media (max-width: $min-width-small-mobile) {
            padding: 8px 20px;
        }

        &.white {
            background-color: white;
            color: $blue;
            &:hover {
                background-color: white;
            }
        }

        &.small-white {
            background-color: white;
            color: $blue;
            border: solid 1px $blue;
            border-radius: 30px;
            font-size: .95em;
            padding: 5px 10px;
            &:hover {
                background-color: white;
            }
        }
    }


/* Input */
input[type=text], input[type=email], input[type=tel] {
    background-color: white;
    color: #066EE7;
    border-radius: 20px;
    padding: 15px 30px;
    border: none;
    width: 100%;
    font-size: 0.85em;
}
textarea {
    display: block;
    width: 100%;
    min-height: 75px;
    padding: 5px;
}

/* Magnifier AND favorites */
.magnifier {
    border: 0;
    width: 37px;
    height: 37px;

    background-image: url('/static/img/magnifier/magnifier.svg');
    background-repeat: no-repeat;
    background-color: transparent;

    &.active {
        background-image: url('/static/img/magnifier/magnifier-hover.svg');
        cursor: pointer;
    }

    &:hover {
        background-image: url('/static/img/magnifier/magnifier-hover.svg');
        cursor: pointer;
    }

    @media (max-width: $min-width-mobile) {
        &.animate {
            -webkit-animation: magnifier 2s linear infinite;
            animation: magnifier 2s linear infinite;
            @include magnifier();
        }
    }
}

/* Icons */
.icon {
    display: inline-block;
    border: none;

    &.marker-cyan { width: 20px; height: 29px; background: url('/static/img/markers/marker-cyan.svg') no-repeat; }
    &.marker-pink { width: 20px; height: 29px; background: url('/static/img/markers/marker-pink.svg') no-repeat; }
    &.marker-blue { width: 20px; height: 29px; background: url('/static/img/markers/marker-blue.svg') no-repeat; }
    &.marker-white { width: 20px; height: 29px; background: url('/static/img/markers/marker-white.svg') no-repeat; }

    &.check-active { width: 30px; height: 23px; background: url('/static/img/icons/check-active.svg') no-repeat; }
    &.check-inactive { width: 30px; height: 23px; background: url('/static/img/icons/check-inactive.svg') no-repeat; }
    &.filter-list-icon { width: 24px; height: 23px; background: url('/static/img/icons/filter-list-icon.svg') no-repeat; }
    &.filter-icon { width: 24px; height: 19px; background: url('/static/img/icons/filter-icon.svg') no-repeat; }
    &.close-icon { width: 20px; height: 25px; background: url('/static/img/icons/close-button.svg') no-repeat; }

    &.pink-arrow { width: 15px; height: 16px; background: url('/static/img/icons/pink-arrow.svg') no-repeat; }
    &.phone { width: 15px; height: 15px; background: url('/static/img/icons/phone.svg') no-repeat; }
    &.email { width: 18px; height: 18px; background: url('/static/img/icons/email.svg') no-repeat; }

    &.heart-active { width: 19px; height: 17px; background: url('/static/img/icons/heart-active.svg') no-repeat; }
    &.empty-heart { width: 21px; height: 19px; background: url('/static/img/icons/empty-heart.svg') no-repeat; }
}


// Mapbox clusters
/*.marker-cluster-small { background-color: rgba(181, 226, 140, 0.9); }
.marker-cluster-small div { background-color: rgba(110, 204, 57, 0.9); }

.marker-cluster-medium { background-color: rgba(241, 211, 87, 0.9); }
.marker-cluster-medium div { background-color: rgba(240, 194, 12, 0.9); }

.marker-cluster-large {	background-color: rgba(253, 156, 115, 0.9); }
.marker-cluster-large div {	background-color: rgba(241, 128, 23, 0.9); }
*/


.marker-cluster {
    background-clip: padding-box;
}

.marker-cluster div {
    margin-left: 5px;
    margin-top: 5px;
    width: 24px;
    height: 34px;
    background: url(/static/img/markers/marker-groupe.svg) no-repeat;

    text-align: center;
    color: white;
    opacity: 1;

    font-weight: bolder;
    font-size: 14px;
}

.marker-cluster span {
	line-height: 30px;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.leaflet-container img.leaflet-marker-icon {
    margin-left: -10px !important;
    margin-top: -29px !important;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    margin-left: -10px !important;
    margin-bottom: 29px !important;
}


// RGPD modal
#modal-rgpd {
    h2 { color: $blue; left: 0; }
    p { margin-bottom: 10px; }
    ul { padding-left: 40px; margin: 0 1em; }
    button { margin: 20px 15px 0 0; }
    .modal-content {
        position: fixed;
        left: 50%;
        max-width: 50%;
        margin-left: -25%;

        @media (max-width: $min-width-mobile) {
            max-width: 75%;
            margin-left: -37.5%;
        }
    }
}

// Header, content and Footer : visible in most of the page (so we put in global.scss)
header#global-header {
    display: flex;

    .offset {
        flex: $flex-left;
    }

    #new-search {
        background: white;
        padding: 20px 40px 30px 40px;
        @media (max-width: $min-width-mobile) { padding: 10px 20px 20px 20px; }

        h2 {
            color: $gray-font;
            margin-bottom: 10px;
            font-size: 1.5em;
            &.small {
                text-align: center;
                font-size: 1em;
            }
        }
        input[type=text] { border: solid 1px lightgray; }


        .job-form-step, #location-form-step {
            margin-bottom: 20px;
        }

        .job-form-step {
            ul { margin-top: 15px; }

            @include mx-list-selected(40px);

            @include no-job(1em);
            .no-job-popin {
                border: solid 1px $gray-font;
                margin-top: 10px;
            }

            li {
                margin-left: -40px;
                margin-right: -40px;
                border-bottom: solid 1px $lightgray;
            }

            .autocomplete-submit {
                margin-top: 10px;
                button {
                    font-size: 20px;
                    padding: 8px 25px;
                }
            }

            button.return {
                margin: 15px auto 0 auto;
                display: inherit;
                border: none;
                background: none;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .or, .distance {
            text-align: center;
            color: $gray;
            margin-bottom: 15px;
        }
        .distance { margin-top: 10px; margin-bottom: 10px; }

        .distance-chooser {
            max-width: 350px;
            margin: 5px auto 0 auto;
            display: flex;
            flex-flow: row wrap;
            > li {
                flex: 1;
                flex-basis: 50%;
                text-align: center;
                input {
                    display: inline-block;
                    vertical-align: text-top;
                    margin-top: 3px;
                    margin-right: 5px;
                }
            }
        }

        .location-container {
            text-align: center;
            .loader {
                display: inline-block;
                margin-right: 16px;
                vertical-align: top;
                margin-top: 5px;
            }
            button {
                border: solid 2px $blue;
                width: 100%;
                padding: 8px 30px;
                margin-bottom: 10px;
                .marker-cyan { margin-right: 16px; }
                @media (max-width: $min-width-mobile) { padding: 8px 10px; }
            }
        }

        .submit-container {
            text-align: center;
        }

        .suggestions {
            border: solid 1px lightgrey;
            border-radius: 10px;
            margin-top: 5px;
            li {
                padding: 6px;
                text-align: center;
                border-bottom: solid 1px lightgray;
                &:hover { cursor: pointer; }
                &:last-child { border-bottom: none; }
            }
        }
    }

    // FAVORITES
    #favorites-list {
        background: white;

        h2 {
            color: black;
            padding: 5px 20px;
            &.empty { padding: 30px 20px; }
        }

        .favorites {
            max-height: 65vh;
            overflow-y: auto;
        }

        .favorite-item {
            padding: 5px 20px 15px 20px;

            font-size: .9em;
            position: relative;

            h3 {
                padding: 5px 30px 0 0;
                color: $blue;
                font-weight: normal;
            }
            h4 { color: black; margin: 5px 0 2px 0; }
            .naf { padding: 5px 0; }
            .contact {
                margin-top: 10px;
                li {
                    margin-bottom: 5px;
                    &:first-child { margin-top: 5px; }
                }
            }

            .close-icon {
                position: absolute;
                right: 20px;
                top: 15px;
                background-size: 80%;
            }

            .contact .icon {
                margin-right: 10px;
            }
            border-bottom: solid 1px $lightgray;
            &:last-child { border-bottom: none; }
        }

        .export-favorites {
            padding: 15px 20px;
            text-align: center;
            border-top: solid 1px $lightgray;
            input {
                border: solid 1px darkgray;
                padding: 13px 20px 10px 20px;
                margin-bottom: 15px;
            }
            button {
                font-weight: normal;
                font-size: 18px;
                padding: 8px 20px;
            }
            input, button {
                width: 90%;
            }
        }
    }



    .title button {
        position: relative;
        background-position: center;
        width: 50px;
        height: 37px;

        span.empty { color: $blue; }
        span.not-empty { color: white; }

        span.sub {
            position: absolute;
            bottom: -13px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 11px;
            white-space: nowrap;
            color: $blue;
            font-weight: bold;
        }

        &.large-favorite {
            background-size: 80% !important;
            margin-right: 15px;
        }

    }

    .title-container {
        flex: $flex-right;
        &.open {
            #new-search, #favorites-list { box-shadow: 0 4px 2px -2px gray; }
        }
        .title {
            padding: 20px;
            height: 70px;
            display: flex;
            background: white;

            .logo {
                flex: 10;
                img { height: 100%; }
            }
        }

        // Special behavior from 768px to 950px
        @media (min-width: $min-width-mobile) and (max-width: 1000px) {
            .title {
                padding: 20px 5px;
                button.large-favorite {
                    margin-right: 7px;
                }
                .logo {
                    text-align: left;
                    padding-left: 15px;
                    img {
                        max-height: 90%;
                    }
                }
            }
        }

        @media (max-width: $min-width-mobile) {
            .title {
                padding: 20px 10px 20px 15px !important;
                button {
                    width: 41px;
                    &.large-favorite {
                        background-size: 100% !important;
                        margin-right: 5px;
                    }
                    > span.sub { display: none; }
                }
            }
        }
    }
}

.content {
    padding: 0 20px;
    // Avoid superposition with fixed footer
    margin-bottom: 150px;

    h1 { color: $blue; font-size: 1.5em; margin: 20px 0; }
    h2 { color: black; margin-bottom: 10px; font-size: 1.2em; margin: 20px 0; }
    h3, h4 { color: black; margin: 10px 0; }
    ul, ol { padding-left: 40px; }
    p { word-wrap: break-word; }

    form {
        margin-bottom: 70px;
        > div { margin: 20px 0; }
        select {
            background: white;
            padding: 5px 10px;
            max-width: 100%;
        }
        label.select-label { margin-right: 10px; }

        input[type=text], input[type=tel], input[type=email] { display: inline-block; border: solid 1px darkgray; padding: 10px 20px; margin: 3px 0; color: black; }
        .form-help-text { font-size: .8em; }
    }
}

footer#global-footer {
    &:not(.not-fixed) { position: fixed; }
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 4vh;
    color: white;
    background-color: black;

    z-index: 2;
    font-size: .95em;
    display: flex;

    a, button {
        border: none;
        background: transparent;
        color: white;
        font-size: 1em;
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    .follow {
        flex: 3;
        @media (max-width: $min-width-mobile) { flex: 2; }
        @media (max-width: $min-width-small-mobile) {
            flex: 0;
            span { display: none; }
        }
    }
    .links {
        flex: 4;

        ul {
            display: flex;
            text-align: center;
            width: 100%;
            li {
                flex: 3;
                &.small { flex: 1; }
                @media (max-width: 1000px) { margin-right: 8px }
            }
        }
    }

    .flags {
        flex: 5;
        @media (max-width: 1000px) { flex: 6; }
        text-align: right;

        ul {
            text-align: right;
            width: 100%;

            li {
                padding-top: 10px;
                margin-right: 10px;
                vertical-align: top;
                width: 70px;
                &:last-child { margin-right: 0; }

                &.fse { width: 80px; }
                &.fse-text {
                    width: auto !important;
                    padding-top: 0;
                }
                img { max-width: 100%; }

                @media (max-width: 1000px) {
                    &.pole-emploi { display: none; }
                    margin-right: 8px;
                }
            }

            p {
                width: 150px;
                margin-top: 5px;
                color: white;
                font-size: 10px;
                line-height: 14px;
                text-align: left;
            }
        }

        @media (max-width: $min-width-mobile) {
            display: none;
        }
    }
}