@import '../../style/mixins.scss';

#home {
    @include mx-home-common();

    h1 { color: white; }
    h2 { color: white; }

    .introduction {
        display: block;
        text-align: center;
        margin-top: 28vh;
        font-size: 4em;
        letter-spacing: 1px;

        span { font-weight: normal; }

        @media(max-width: 1000px) {
            margin-top: 20vh;
            margin-bottom: 30px;
            padding-left: 15px;
            font-size: 3em;
        }

        @media(max-width: $min-width-mobile) {
            text-align: left;
            margin-top: 10vh;
            margin-bottom: 30px;
            padding-left: 15px;
            font-size: 2.7em;
        }

        @media(max-width: $min-width-small-mobile) {
            margin-top: 10vh;
            margin-bottom: 50px;
            padding-left: 10px;
            font-size: 2.3em;
            letter-spacing: 0;
        }
    }

    .button-container {
        text-align: center;
        margin-top: 100px;
        letter-spacing: 1px;
        font-size: 1.2em;

        .loading {
            color: white;
        }
        @media(max-width: $min-width-mobile) {
            margin-top: 10vh;
        }

        @media(max-width: $min-width-small-mobile) {
            margin-top: 50px;
            letter-spacing: 0;
        }
    }

}
