@import '../../style/mixins.scss';

#home {
    @include mx-home-common();

    h1 { color: white; }
    h2 { color: white; }

    .introduction {
        display: block;
        text-align: center;
        margin-top: 28vh;
        font-size: 4em;
        letter-spacing: 1px;

        span { font-weight: normal; }

        @media(max-width: 1000px) {
            margin-top: 20vh;
            margin-bottom: 30px;
            padding-left: 15px;
            font-size: 3em;
        }

        @media(max-width: $min-width-mobile) {
            text-align: left;
            margin-top: 10vh;
            margin-bottom: 30px;
            padding-left: 15px;
            font-size: 2.7em;
        }

        @media(max-width: $min-width-small-mobile) {
            margin-top: 10vh;
            margin-bottom: 50px;
            padding-left: 10px;
            font-size: 2.3em;
            letter-spacing: 0;
        }
    }

    .button-container {
        text-align: center;
        margin-top: 100px;
        letter-spacing: 1px;
        font-size: 1.2em;

        .loading {
            color: white;
        }
        @media(max-width: $min-width-mobile) {
            margin-top: 10vh;
        }

        @media(max-width: $min-width-small-mobile) {
            margin-top: 50px;
            letter-spacing: 0;
        }
    }

    .recruiter {
        text-align: center;
        margin-top: 80px;
        a {
            color: white;
            text-decoration: none;
            &:hover { text-decoration: underline; }
        }
    }

    section.main-landing {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        height: 100vh;

        .footer {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: transparent;

            ul { text-align: right; }

            li {
                padding-top: 10px;
                margin: 0 20px 0 0;
                vertical-align: top;
                width: 90px;

                &.fse { width: 120px; }
                &.fse-text { width: auto !important; }
                img { max-width: 100%; }
            }
            @media (max-width: 768px) {
                li {
                    margin: 0 10px 0 0;
                    width: 50px;
                }
                &.fse { width: 70px; }
                &.fse-text { padding: 1px 0; }
            }

            a { display: inline-block; }

            p {
                width: 200px;
                margin-top: 5px;
                color: white;
                font-size: 12px;
                line-height: 14px;
                text-align: left;
            }

            @media (max-width: 768px) {
                p {
                    width: 120px;
                    font-size: 9px;
                    line-height: 11px;
                }
            }
        }
    }

    .more {
        position: absolute;
        background-color: black;
        top: 100vh; left: 0; right: 0;

        > div { background-color: white; }
        
        h2 {
            text-align: center;
            color: $violet;
            padding: 20px 10px;
        }
        
        .how-it-works {
            padding: 20px;
            .images {
                text-align: center;
                img {
                    width: 50%;
                    padding: 30px;
                    display: inline-block;
                    vertical-align: top;
                    @media (max-width: 1000px) { padding: 10px; }
                    @media (max-width: $min-width-mobile) { padding: 10px; width: 100%; }
                }
                
            }
        }

        .who-we-are {
            padding: 10px 20px 40px 20px;

            > div {
                display: flex;
                .logo-pe {
                    flex: 1;
                }
                p {
                    flex: 10;
                    padding: 0 20px 0 30px;
                    color: $gray-font;
                    font-size: 0.85em;
                    a {
                        display: inline-block;
                        margin-top: 10px;
                        text-decoration: none;
                        color: $pink;
                        &:hover { text-decoration: underline; }
                    }
                }
            }
        }
    }
}