@import '../../style/mixins.scss';

#home {
    position: relative;

    @include mx-home-common();

    h1 { color: white; }
    h2 { color: white; }

    .form-1, .form-2 {
        z-index: 1;
        @media(max-width: 800px) { display: none; }
    }
    .form-1 {
        width: 205px; height: 259px;
        position: absolute;
        left: 0; top: 80%;
        background-image: url('/static/img/home-forme-1.svg');
    }
    .form-2 {
        position: relative;
        height: 60px;
        overflow: visible;
        > div {
            position: absolute;
            width: 153px; height: 284px;
            right: 0; top: -40px;
            background-image: url('/static/img/home-forme-2.svg');
        }
    }


    .introduction {
        display: block;
        text-align: center;
        margin-top: 28vh;
        font-size: 4em;
        letter-spacing: 1px;

        span { font-weight: normal; }

        @media(max-width: 1000px) {
            margin-top: 20vh;
            margin-bottom: 30px;
            padding-left: 15px;
            font-size: 3em;
        }

        @media(max-width: $min-width-mobile) {
            text-align: left;
            margin-top: 25vh;
            margin-bottom: 30px;
            padding-left: 15px;
            font-size: 2.7em;
        }

        @media(max-width: $min-width-small-mobile) {
            margin-top: 21vh;
            margin-bottom: 50px;
            padding-left: 10px;
            font-size: 2em;
            letter-spacing: 0;
        }

        @media (max-height: 750px) and (min-width: $min-width-desktop) {
            margin-top: 20vh;
            font-size: 3em;
        }
        @media (max-height: 750px) and (min-width: $min-width-tablet) {
            margin-top: 20vh;
            font-size: 3em;
        }
    }

    .button-container {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: 100px;
        letter-spacing: 1px;
        font-size: 1.2em;

        .loading {
            color: white;
        }
        @media(min-width: 1000px) and (max-width: 1250px) {
            // Note : 26/04/2018 from 20px to 80px
            margin-top: 80px;
        }
        @media(max-width: $min-width-mobile) {
            margin-top: 10vh;
        }

        @media(max-width: $min-width-small-mobile) {
            margin-top: 50px;
            letter-spacing: 0;
        }
        @media (max-height: 750px) {
            margin-top: 30px;
            font-size: .9em;
        }
    }

    .recruiter {
        text-align: center;
        margin-top: 80px;
        a {
            color: white;
            text-decoration: none;
            &:hover { text-decoration: underline; }
        }
        @media (max-height: 750px) {
            margin-top: 30px;
        }
    }

    section.main-landing {
        height: 100%;

        .footer {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: white;
            @media (max-width: $min-width-mobile) { display: none; }
            @media (max-height: 500px) { display: none; }

            ul { text-align: right; }

            li {
                padding-top: 10px;
                margin: 0 20px 0 0;
                vertical-align: top;
                width: 90px;

                &.fse { width: 120px; }
                &.pole-emploi a { width: 90px; }
                &.fse-text { width: auto !important; }
                img { max-width: 100%; }
            }
            @media (max-width: $min-width-mobile) {
                li {
                    margin: 0 10px 0 0;
                    width: 50px;
                }
                &.fse { width: 70px; }
                &.fse-text { padding: 1px 0; }
            }

            a { display: inline-block; }
            p {
                width: 200px;
                margin-top: 5px;
                color: $fse-blue;
                font-size: 12px;
                line-height: 14px;
                text-align: left;
            }

            @media (max-width: $min-width-mobile) {
                p {
                    width: 120px;
                    font-size: 9px;
                    line-height: 11px;
                }
            }
        }
    }

    .more {
        position: absolute;
        top: 100%; left: 0; right: 0;

        @media (max-height: 400px) { top: 110%; }

        h2 {
            text-align: center;
            color: $violet;
            padding: 20px 10px;
            font-size: 2em;
            font-weight: normal;

            &.big {
                color: $gray-font;
                font-size: 2.8em;
                line-height: 1.25em;
                padding: 30px 10px 30px 10px;
            }
        }

        .youtube-video {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            max-width: 1000px;
            margin: auto auto 50px auto;
            height: 0;
            overflow: hidden;
            margin-bottom: 60px;

            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .how-it-works {
            margin-bottom: 80px;
            h2 { padding-bottom: 20px; }
            p { font-size: 1.1em; }

            > .img-right, .img-left {
                display: flex;
                p {
                    flex: 10;
                    line-height: 1.5em;
                    align-self: center;
                }
                > div {
                    flex: 2;
                    padding: 50px 0;
                }
            }
            > .img-right {
                text-align: right;
                p { padding-right: 80px; padding-left: 20px; }
                div { padding-right: 30px; }
            }
            > .img-left {
                text-align: left;
                p { padding-left: 80px;  }
                div { padding-left: 30px; padding-right: 20px; }
            }

            .recruteurs img { height: 164px; width: 264px; }
            .map img { height: 117px; width: 255px; }
            .diagramme img { height: 180px; width: 256px; }

            .go-container {
                margin-top: 50px;
                color: $blue;
                p {
                    display: block;
                    margin-bottom: 30px;
                    padding: 0 30px;
                }
                a { margin-top: 40px; }
            }
        }

        .who-we-are {
            padding: 10px 20px 40px 20px;
            margin-bottom: 60px;
            line-height: 1.3em;

            > div {
                padding-top: 10px;
                .logo-pe {
                    width: 100px;
                    display: inline-block;
                }
                p {
                    display: inline-block;
                    width: 550px;
                    max-width: 100%;
                    padding: 0 20px 0 30px;
                    font-size: 0.85em;
                    a {
                        display: inline-block;
                        margin-top: 10px;
                        text-decoration: none;
                        color: $pink;
                        &:hover { text-decoration: underline; }
                    }
                }
            }
        }

        @media (max-width: $min-width-tablet) {
            // .how-it-works { padding: 0 30px; }
            > .img-right p { padding-left: 40px; }
            > .img-left p { padding-right: 40px;  }
            .how-it-works br { display: none; }
        }

        @media (max-width: $min-width-mobile) {
            .img-right, .img-left {
                flex-direction: column;
                p {
                    order: 2;
                    padding: 20px !important;
                    text-align: center !important;
                }
                > div {
                    order: 1;
                    padding: 40px 0 0 0!important;
                    text-align: center !important;
                }
            }

            .who-we-are {
                a.logo-pe {
                    display: block;
                    text-align: center;
                    margin: auto auto 30px auto;
                }
                > div p { width: auto; }
            }
        }

    }
}